<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154124614161-oturmhr9sbcp8s4p8a62tpq8cu6dh8mj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154124614161-oturmhr9sbcp8s4p8a62tpq8cu6dh8mj</string>
	<key>API_KEY</key>
	<string>AIzaSyAknqmjq29JS8sa23vtqYMDXX7MkB1HRtc</string>
	<key>GCM_SENDER_ID</key>
	<string>154124614161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibuilding.digipro</string>
	<key>PROJECT_ID</key>
	<string>digipro-c14c2</string>
	<key>STORAGE_BUCKET</key>
	<string>digipro-c14c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154124614161:ios:88e99d88ce26ca5d08cfb0</string>
</dict>
</plist>